
# Discord Bot
DISCORD_TOKEN=""
CLIENT_ID=""
CLIENT_SECRET=""
REDIRECT_URI=""

# Optional Developer Configs
SUPPORT_GUILD=""
SUPPORT_LINK=""
CRIADOR_ID=""
DEVELOPER_ID=""
BOOSTER_ID=""
PREFIX="!"

FIREBASE_PROJECT_ID=""
FIREBASE_CLIENT_EMAIL=

FIREBASE_PRIVATE_KEY=""
FIREBASE_DATABASE_URL=""